.cyan{
    background-color: cyan;
    height: 50px;
    width: 100px;
    margin: auto;
}

.black{
    background-color: black;
    height: 50px;
    width: 80px;
    margin: auto;
}

.pink{
    background-color: pink;
    height: 50px;
    width: 60px;
    margin: auto;
}

.yellow{
    background-color: yellow;
    height: 50px;
    width: 40px;
    margin: auto;
}

.red{
    background-color: red;
    height: 50px;
    width: 20px;
    margin: auto;
}

.green{
    background-color: green;
    height: 50px;
    width: 10px;
    margin: auto;
}